<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <div id='cssmenu'>
					<ul>
					   <li class='active'><a href='#'>Home</a></li>
					</ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="side-bar-left"></div>
        </div>
        <div class="col-lg-10">
            <app-ths-form></app-ths-form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="footer">
                <footer>Copyright &copy; www.sergioenc28.com</footer>
            </div>
        </div>
    </div>
</div>